.main-header {
  background: url(../img/background.jpg);
  min-height: 600px;
  background-size: cover;
  background-position: center;
  color: white;
}


.active-link {
  color: #d847f1;
  font-weight: bold;
}

.main-header .showcase {
  padding-top: 100px;
}